@tailwind base;
@tailwind components;
@tailwind utilities;



html , body {
  color: #ebebeb;
  background: #0D1B2A;
}

main {
  background: linear-gradient(to bottom, #0D1B2A, #1B2C3A 70%, #264653);
  min-height: 100vh;
  min-height: 100dvh;
}